---
import Layout from '../layouts/Layout.astro';
import products from '../data/products.json';
import ProductFlyout from '../components/ProductFlyout.jsx';
import AddToProductsForm from '../components/AddToProductsForm.jsx';
const title = 'Lista del Mercadona';
---

<Layout title={title}>
	<div class='relative'>
		<main>
			<ul class='grid gap-4 p-4'>
				{
					products.length !== 0 ? (
						products.map((product) => (
							<li
								id={product.id.toString()}
								class='bg-gray-100 dark:bg-gray-800/60 p-4 rounded-lg'
							>
								<h2 class='text-xl font-bold'>{product.name}</h2>
								<p class='text-gray-600 dark:text-gray-400'>{product.price}</p>
								<p class='text-gray-600 dark:text-gray-400'>{product.price} €</p>
								<AddToProductsForm
									item={product}
									client:visible
								>
									<button class='bg-blue-500 text-white p-2 rounded-lg'>Añadir al carrito</button>
								</AddToProductsForm>
							</li>
						))
					) : (
						<p class='text-center'>No hay productos</p>
					)
				}
			</ul>
		</main>
		<ProductFlyout client:only='react' />
	</div>
</Layout>
